<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.study.infra.mapper.EmployeeMapper">


    <sql id = "BaseSql">
        ee.EMPLOYEE_ID,
        ee.EMPLOYEE_CODE,
        ee.NAME,
        ee.EMAIL,
        ee.MOBIL,
        ee.PHONE,
        ee.BANK_OF_DEPOSIT,
        ee.BANK_ACCOUNT,
        ee.ENABLED_FLAG,
        ee.EMPLOYEE_TYPE_ID,
        ee.ID_TYPE,
        ee.ID_CODE,
        ee.NOTES,
        ee.NATIONAL_IDENTIFIER,
        ee.HMAP_SYNC_FLAG,
        ee.HMAP_SYNC_DATE,
        ee.PLACE_ID,
        ee.TENANT_ID,
        ee.source_code,
        ee.source_header_id,
        ee.source_line_id,
        ee.source_reference,
        ee.creation_date,
        ee.created_by,
        ee.last_updated_by,
        ee.last_update_date,
        ee.object_version_number
    </sql>

    <select id = "selectList" resultType = "com.hand.study.domain.entity.Employee">
        select
        <include refid = "BaseSql"/>
        from exp_employee ee
        <where>
            <if test="employeeId !=null">
                and ee.EMPLOYEE_ID = #{employeeId,jdbcType = INTEGER}
            </if>
            <if test="employeeCode !=null">
                and ee.EMPLOYEE_CODE = #{employeeCode,jdbcType = VARCHAR}
            </if>
            <if test="name !=null">
                and ee.NAME = #{name,jdbcType = VARCHAR}
            </if>
            <if test="email !=null">
                and ee.EMAIL = #{email,jdbcType = VARCHAR}
            </if>
            <if test="mobil !=null">
                and ee.MOBIL = #{mobil,jdbcType = VARCHAR}
            </if>
            <if test="phone !=null">
                and ee.PHONE = #{phone,jdbcType = VARCHAR}
            </if>
            <if test="bankOfDeposit !=null">
                and ee.BANK_OF_DEPOSIT = #{bankOfDeposit,jdbcType = VARCHAR}
            </if>
            <if test="bankAccount !=null">
                and ee.BANK_ACCOUNT = #{bankAccount,jdbcType = VARCHAR}
            </if>
            <if test="enabledFlag !=null">
                and ee.ENABLED_FLAG = #{enabledFlag,jdbcType = VARCHAR}
            </if>
            <if test="employeeTypeId !=null">
                and ee.EMPLOYEE_TYPE_ID = #{employeeTypeId,jdbcType = INTEGER}
            </if>
            <if test="idType !=null">
                and ee.ID_TYPE = #{idType,jdbcType = VARCHAR}
            </if>
            <if test="idCode !=null">
                and ee.ID_CODE = #{idCode,jdbcType = VARCHAR}
            </if>
            <if test="notes !=null">
                and ee.NOTES = #{notes,jdbcType = VARCHAR}
            </if>
            <if test="nationalIdentifier !=null">
                and ee.NATIONAL_IDENTIFIER = #{nationalIdentifier,jdbcType = VARCHAR}
            </if>
            <if test="hmapSyncFlag !=null">
                and ee.HMAP_SYNC_FLAG = #{hmapSyncFlag,jdbcType = VARCHAR}
            </if>
            <if test="hmapSyncDate !=null">
                and ee.HMAP_SYNC_DATE = #{hmapSyncDate,jdbcType = TIMESTAMP}
            </if>
            <if test="placeId !=null">
                and ee.PLACE_ID = #{placeId,jdbcType = INTEGER}
            </if>
            <if test="tenantId !=null">
                and ee.TENANT_ID = #{tenantId,jdbcType = INTEGER}
            </if>
            <if test="sourceCode !=null">
                and ee.source_code = #{sourceCode,jdbcType = VARCHAR}
            </if>
            <if test="sourceHeaderId !=null">
                and ee.source_header_id = #{sourceHeaderId,jdbcType = INTEGER}
            </if>
            <if test="sourceLineId !=null">
                and ee.source_line_id = #{sourceLineId,jdbcType = INTEGER}
            </if>
            <if test="sourceReference !=null">
                and ee.source_reference = #{sourceReference,jdbcType = VARCHAR}
            </if>
        </where>
    </select>
</mapper>

