<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.study.infra.mapper.OrgPositionMapper">


    <sql id = "BaseSql">
        eop.POSITION_ID,
        eop.UNIT_ID,
        eop.POSITION_CODE,
        eop.DESCRIPTION,
        eop.PARENT_POSITION_ID,
        eop.COMPANY_ID,
        eop.EMPLOYEE_JOB_ID,
        eop.ENABLED_FLAG,
        eop.TENANT_ID,
        eop.source_code,
        eop.source_header_id,
        eop.source_line_id,
        eop.source_reference,
        eop.creation_date,
        eop.created_by,
        eop.last_updated_by,
        eop.last_update_date,
        eop.object_version_number
    </sql>

    <select id = "selectList" resultType = "com.hand.study.domain.entity.OrgPosition">
        select
        <include refid = "BaseSql"/>
        from exp_org_position eop
        <where>
            <if test="positionId !=null">
                and eop.POSITION_ID = #{positionId,jdbcType = INTEGER}
            </if>
            <if test="unitId !=null">
                and eop.UNIT_ID = #{unitId,jdbcType = INTEGER}
            </if>
            <if test="positionCode !=null">
                and eop.POSITION_CODE = #{positionCode,jdbcType = VARCHAR}
            </if>
            <if test="description !=null">
                and eop.DESCRIPTION = #{description,jdbcType = VARCHAR}
            </if>
            <if test="parentPositionId !=null">
                and eop.PARENT_POSITION_ID = #{parentPositionId,jdbcType = INTEGER}
            </if>
            <if test="companyId !=null">
                and eop.COMPANY_ID = #{companyId,jdbcType = INTEGER}
            </if>
            <if test="employeeJobId !=null">
                and eop.EMPLOYEE_JOB_ID = #{employeeJobId,jdbcType = INTEGER}
            </if>
            <if test="enabledFlag !=null">
                and eop.ENABLED_FLAG = #{enabledFlag,jdbcType = VARCHAR}
            </if>
            <if test="tenantId !=null">
                and eop.TENANT_ID = #{tenantId,jdbcType = INTEGER}
            </if>
            <if test="sourceCode !=null">
                and eop.source_code = #{sourceCode,jdbcType = VARCHAR}
            </if>
            <if test="sourceHeaderId !=null">
                and eop.source_header_id = #{sourceHeaderId,jdbcType = INTEGER}
            </if>
            <if test="sourceLineId !=null">
                and eop.source_line_id = #{sourceLineId,jdbcType = INTEGER}
            </if>
            <if test="sourceReference !=null">
                and eop.source_reference = #{sourceReference,jdbcType = VARCHAR}
            </if>
        </where>
    </select>
</mapper>

