<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.study.infra.mapper.PaymentMethodMapper">


    <sql id = "BaseSql">
        cpm.PAYMENT_METHOD_ID,
        cpm.PAYMENT_METHOD_CODE,
        cpm.DESCRIPTION,
        cpm.PAY_METHOD_CODE,
        cpm.PAY_CARRIER_CODE,
        cpm.POSTING_FLAG,
        cpm.ENABLED_FLAG,
        cpm.TENANT_ID,
        cpm.creation_date,
        cpm.created_by,
        cpm.last_updated_by,
        cpm.last_update_date,
        cpm.object_version_number
    </sql>

    <select id = "selectList" resultType = "com.hand.study.domain.entity.PaymentMethod">
        select
        <include refid = "BaseSql"/>
        from csh_payment_method cpm
        <where>
            <if test="paymentMethodId !=null">
                and cpm.PAYMENT_METHOD_ID = #{paymentMethodId,jdbcType = INTEGER}
            </if>
            <if test="paymentMethodCode !=null">
                and cpm.PAYMENT_METHOD_CODE = #{paymentMethodCode,jdbcType = VARCHAR}
            </if>
            <if test="description !=null">
                and cpm.DESCRIPTION = #{description,jdbcType = VARCHAR}
            </if>
            <if test="payMethodCode !=null">
                and cpm.PAY_METHOD_CODE = #{payMethodCode,jdbcType = VARCHAR}
            </if>
            <if test="payCarrierCode !=null">
                and cpm.PAY_CARRIER_CODE = #{payCarrierCode,jdbcType = VARCHAR}
            </if>
            <if test="postingFlag !=null">
                and cpm.POSTING_FLAG = #{postingFlag,jdbcType = VARCHAR}
            </if>
            <if test="enabledFlag !=null">
                and cpm.ENABLED_FLAG = #{enabledFlag,jdbcType = VARCHAR}
            </if>
            <if test="tenantId !=null">
                and cpm.TENANT_ID = #{tenantId,jdbcType = INTEGER}
            </if>
        </where>
    </select>
</mapper>

