<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.study.infra.mapper.PaymentLine37799Mapper">


    <sql id = "BaseSql">
        hpl3.line_id,
        hpl3.header_id,
        hpl3.line_number,
        hpl3.description,
        hpl3.pay_flag,
        hpl3.payment_method,
        hpl3.amount,
        hpl3.payment_date,
        hpl3.TENANT_ID,
        hpl3.creation_date,
        hpl3.created_by,
        hpl3.last_updated_by,
        hpl3.last_update_date,
        hpl3.object_version_number
    </sql>

    <select id = "selectList" resultType = "com.hand.study.domain.entity.PaymentLine37799">
        select
        <include refid = "BaseSql"/>
        from hfm_payment_line_37799 hpl3
        <where>
            <if test="lineId !=null">
                and hpl3.line_id = #{lineId,jdbcType = INTEGER}
            </if>
            <if test="headerId !=null">
                and hpl3.header_id = #{headerId,jdbcType = INTEGER}
            </if>
            <if test="lineNumber !=null">
                and hpl3.line_number = #{lineNumber,jdbcType = VARCHAR}
            </if>
            <if test="description !=null">
                and hpl3.description = #{description,jdbcType = VARCHAR}
            </if>
            <if test="payFlag !=null">
                and hpl3.pay_flag = #{payFlag,jdbcType = VARCHAR}
            </if>
            <if test="paymentMethod !=null">
                and hpl3.payment_method = #{paymentMethod,jdbcType = VARCHAR}
            </if>
            <if test="amount !=null">
                and hpl3.amount = #{amount,jdbcType = OTHER}
            </if>
            <if test="paymentDate !=null">
                and hpl3.payment_date = #{paymentDate,jdbcType = TIMESTAMP}
            </if>
            <if test="tenantId !=null">
                and hpl3.TENANT_ID = #{tenantId,jdbcType = INTEGER}
            </if>
        </where>
    </select>
</mapper>

