<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.study.infra.mapper.TransferHeaderMapper">


    <sql id = "BaseSql">
        hth.transfer_header_id,
        hth.transfer_number,
        hth.company_id,
        hth.unit_id,
        hth.position_id,
        hth.employee_id,
        hth.acc_entity_id,
        hth.transfer_apply_date,
        hth.bank_treasurer_req_type_id,
        hth.transfer_currency_code,
        hth.payment_method_id,
        hth.transfer_status,
        hth.description,
        hth.transfer_close_date,
        hth.creation_date,
        hth.created_by,
        hth.last_updated_by,
        hth.last_update_date,
        hth.object_version_number
    </sql>

    <select id = "selectList" resultType = "com.hand.study.domain.entity.TransferHeader">
        select
        <include refid = "BaseSql"/>
        from hfm_transfer_header hth
        <where>
            <if test="transferHeaderId !=null">
                and hth.transfer_header_id = #{transferHeaderId,jdbcType = INTEGER}
            </if>
            <if test="transferNumber !=null">
                and hth.transfer_number = #{transferNumber,jdbcType = VARCHAR}
            </if>
            <if test="companyId !=null">
                and hth.company_id = #{companyId,jdbcType = INTEGER}
            </if>
            <if test="unitId !=null">
                and hth.unit_id = #{unitId,jdbcType = INTEGER}
            </if>
            <if test="positionId !=null">
                and hth.position_id = #{positionId,jdbcType = INTEGER}
            </if>
            <if test="employeeId !=null">
                and hth.employee_id = #{employeeId,jdbcType = INTEGER}
            </if>
            <if test="accEntityId !=null">
                and hth.acc_entity_id = #{accEntityId,jdbcType = INTEGER}
            </if>
            <if test="transferApplyDate !=null">
                and hth.transfer_apply_date = #{transferApplyDate,jdbcType = OTHER}
            </if>
            <if test="bankTreasurerReqTypeId !=null">
                and hth.bank_treasurer_req_type_id = #{bankTreasurerReqTypeId,jdbcType = INTEGER}
            </if>
            <if test="transferCurrencyCode !=null">
                and hth.transfer_currency_code = #{transferCurrencyCode,jdbcType = VARCHAR}
            </if>
            <if test="paymentMethodId !=null">
                and hth.payment_method_id = #{paymentMethodId,jdbcType = INTEGER}
            </if>
            <if test="transferStatus !=null">
                and hth.transfer_status = #{transferStatus,jdbcType = VARCHAR}
            </if>
            <if test="description !=null">
                and hth.description = #{description,jdbcType = VARCHAR}
            </if>
            <if test="transferCloseDate !=null">
                and hth.transfer_close_date = #{transferCloseDate,jdbcType = OTHER}
            </if>
        </where>
    </select>
</mapper>

